@layer reset, globals, layouts, routes, overrides;

@import '@acab/reset.css' layer(reset);

@layer globals {
	:root {
		color-scheme: dark;
		--fg: #5fc4f0;
		--bg: #0b3449;
	}

	::selection {
		background-color: var(--fg);
		color: var(--bg);
	}

	:focus-visible {
		outline: 3px solid var(--fg);
		outline-offset: 3px;
	}

	/* this bullshit cannot be turned off */
	#svelte-announcer {
		display: none;
	}
}

@layer overrides {
	@media (prefers-reduced-motion: reduce) {
		* {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			animation-delay: 0.01ms !important;
		}
	}
}
